.cartas{
    width: 200px;
    height: 283px; 
    background-size: cover;
}

/* Tema Sabrina*/

.sabrina .virada{
    background-image: url(/imgs/sabrina/sabrina-verso.png) !important;
}

.sabrina .c1{
    background-image: url(/imgs/sabrina/cant-send.png);
}

.sabrina .c2{
    background-image: url(/imgs/sabrina/espresso.png);

}

.sabrina .c3{
    background-image: url(/imgs/sabrina/evolution.png);

}

.sabrina .c4{
    background-image: url(/imgs/sabrina/short.png);

}

/* Tema Presidentes*/

.presidentes .virada{
    background-image: url(/imgs/presidentes/presidentes-verso.png) !important; 
}

.presidentes .c1{
    background-image: url(/imgs/presidentes/bolsonaro.png);
}

.presidentes .c2{
    background-image: url(/imgs/presidentes/dilma.png);

}

.presidentes .c3{
    background-image: url(/imgs/presidentes/lula.png);

}

.presidentes .c4{
    background-image: url(/imgs/presidentes/temer.png);

}

/* Tema Roblox*/

.roblox .virada{
    background-image: url(/imgs/roblox/roblox-verso.png) !important; 
}

.roblox .c1{
    background-image: url(/imgs/roblox/blox-fruit.png);
}

.roblox .c2{
    background-image: url(/imgs/roblox/doors.png);

}

.roblox .c3{
    background-image: url(/imgs/roblox/dti.png);

}

.roblox .c4{
    background-image: url(/imgs/roblox/rainbow.png);

}

#container-cartas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 10px;
    /*margin-top: 10%;
    margin-left: 20%;
    margin-right: 15%;*/
}

#perdeu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 40%;
    display: none;
}