body{
    background-image: url(../imgs/fundo-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Trebuchet MS, sans-serif;
}

#menu{
    /*text-align: center;
    margin-top: 20cap;
    overflow-y: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#menu h1{
    font-size: 10cap;
    color: pink;
    text-shadow: 2px 2px rgb(144, 46, 78);
}

#botao-jogar > a:link, #botao-jogar > a:visited, #botao-jogar > a:hover, #botao-jogar > a:active{
    color: rgb(144, 46, 78); 
    text-decoration: none;
}

#menu label, #menu p, #botao-creditos, #botao-tema, #botao-jogar{
    color: rgb(144, 46, 78);
    border: 1px solid rgb(235, 73, 127);
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
}

#botao-creditos, #botao-tema, #botao-jogar{
    font-size: 25px;
}

#tema > header img{
    width: 50px;
    /*float: right;*/
    border: 1px solid brown;
}

#tema{
    background-color: #F2F0F0;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 10px;
}

#tema section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

article{
    text-align: center;
    border: 1px solid brown;
    border-radius: 10px;
}

article img{
    width: 100px;
}

.visivel{
    left: 0;
}

.invisivel{
    left: -100%;
    
}

/*botao nome*/

#registrar {
    background-color: lightblue;
    color: rgb(65, 128, 149);
    border: 1px solid rgb(123, 182, 202);
}

#credito {
    position: fixed;
    width: 15%;
    height: 27%;
    display: none;
    background-color: #BF6B72;
    color: pink;
    text-shadow: 1px 1px black;
    font-size: medium;
    padding: 10px 20px;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#credito p{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
  
#credito.visivel {
    display: block;
}

img {
    width: 30%;
}

div > h1{
    background-color: #f2f0f0e1;
}

div{
    text-align: center;
}