.cartas{
    width: 200px;
    height: 200px;
}

.virada{
    background-color: pink !important; 
}

.c1{
    background-color: red;
}

.c2{
    background-color: green;

}

.c3{
    background-color: yellow;

}

.c4{
    background-color: blue;

}

#container-cartas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 10px;
    /*margin-top: 10%;
    margin-left: 20%;
    margin-right: 15%;*/
}

#perdeu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 40%;
    display: none;
}

