main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article{
    text-align: center;
    border: 1px solid brown;
    border-radius: 10px;
}

article img{
    width: 200px;
}